body {

}

#banner {
	widlh:100%;
}

.principal{
	backgrond: #CCCCCC
}

h1 {
    text-aling: center
}

P {
	text aling: center;
}

#missao {
	font-size: 20px
}

em stromg {
	color: #FF0000
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
}

h2 {
	text-align: center;
}

.imagembeneficios {
	width: 50%;
}
